<ion-content>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card >
      <ion-card-header>
        <ion-card-title>لايتوفر اتصال بالانترنت</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        المرجو الاتصال بالانترنت لكي تستطيع استخدام التطبيق
      </ion-card-content>
      <ion-col class="ion-text-center">
        <ion-button color="primary" (click)="retry()">RETRY</ion-button>
      </ion-col>
    </ion-card>
    
  </div>
  
</ion-content>
