<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>روايات رومانسية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col *ngFor="let item of Books">
    <div class="container" (click)="Outputfct(item)" [routerLink]="['../pdf']">
      <div class="book">
        <div class="cover">
          <img src="{{item.Image}}">
        </div>
        <div class="description">
          <p class="title">{{item.Title}}<br>
            <span class="author">{{item.Author}}</span></p>
        </div>
      </div>
    </div>
  </ion-col>
</ion-content>
