<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-icon name="menu" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">موسوعة الكتب</ion-title>
    <!--
    <ion-buttons slot="start"  class="ion-float-left">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <img class="item" src="./assets/islam.jpg"> 
  </div>  

  <div class="ion-margin">
    <img class="item" src="./assets/islam.jpg"> 
  </div> 

  <div class="ion-margin">
    <img class="item" src="./assets/islam.jpg"> 
  </div> 

</ion-content>
