<ion-header collapse="condense">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="search" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title >موسوعة الكتب</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <img class="item" src="./assets/islam.jpg"> 
  </div>  

  <div class="ion-margin">
    <img class="item" src="./assets/islam.jpg"> 
  </div> 

  <div class="ion-margin">
    <img class="item" src="./assets/islam.jpg"> 
  </div> 

</ion-content>
