<ion-header collapse="condense">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="search" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title >كتب إسلامية</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>
        <div class="container">
          <div class="book">
            <div class="cover">
              <img src="https://alysbcohen.files.wordpress.com/2015/01/little-princess-book-cover.jpg">
            </div>
            <div class="description">
              <p class="title">A Little Princess<br>
                <span class="author">Frances Hodgson</span></p>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col>
        <div class="container">
          <div class="book">
            <div class="cover">
              <img src="https://alysbcohen.files.wordpress.com/2015/01/little-princess-book-cover.jpg">
            </div>
            <div class="description">
              <p class="title">A Little Princess<br>
                <span class="author">Frances Hodgson</span></p>
            </div>
          </div>
        </div>
      </ion-col>
      
      <ion-col>
        <div class="container">
          <div class="book">
            <div class="cover">
              <img src="https://alysbcohen.files.wordpress.com/2015/01/little-princess-book-cover.jpg">
            </div>
            <div class="description">
              <p class="title">A Little Princess<br>
                <span class="author">Frances Hodgson</span></p>
            </div>
          </div>
        </div>
      </ion-col>
      
      <ion-col>
        <div class="container">
          <div class="book">
            <div class="cover">
              <img src="https://alysbcohen.files.wordpress.com/2015/01/little-princess-book-cover.jpg">
            </div>
            <div class="description">
              <p class="title">A Little Princess<br>
                <span class="author">Frances Hodgson</span></p>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="container">
          <div class="book">
            <div class="cover">
              <img src="https://alysbcohen.files.wordpress.com/2015/01/little-princess-book-cover.jpg">
            </div>
            <div class="description">
              <p class="title">A Little Princess<br>
                <span class="author">Frances Hodgson</span></p>
            </div>
          </div>
        </div>
      </ion-col>
      
      <ion-col>
        <div class="container">
          <div class="book">
            <div class="cover">
              <img src="https://alysbcohen.files.wordpress.com/2015/01/little-princess-book-cover.jpg">
            </div>
            <div class="description">
              <p class="title">A Little Princess<br>
                <span class="author">Frances Hodgson</span></p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
