<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <pdf-viewer [src]="pdfSrc" 
              [(page)]="page"
              [show-all]="true"
              [stick-to-page]="true"
              [render-text]="true"
              [zoom]="pdfZoom" 
              [fit-to-page]="true"    
  ></pdf-viewer>
   
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="zoomOut()" size="small">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="zoomIn()" size="small">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="Save()" size="small">Save</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="pageBack()" size="small">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="primary" (click)="pageNext()" size="small">
            <ion-icon name="arrow-forward" (click)="pageNext()"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
