pdf-viewer {
    display: block;
    height: 100vh;
}

ion-grid{
    position: fixed;
    bottom: 0px;
    width:100%;
    display: flex;
    justify-content: center;
}

ion-col{
    padding-left: 1px;
}


